<div class="overflow">
    <div  id="table" class="pt-1">
      <div class="card details_section mt-4 margin-card">
       
          <div class="card-body card-table">
              <div>
            <span class="table-text-size">Department </span>
            </div>
            <hr class="mb-0"/> 
            <div class="Details">
                <div class="Details-left">
            <div class="name">
                <p>Name<span>:</span></p>
                <p>Father Name<span>:</span></p>
                <p>Mother Name<span>:</span></p>
                <p>Posion<span>:</span></p>
                <p>Salry<span>:</span></p>
                <p>Address<span>:</span></p>
            </div>
            <div class="names">
                <p>Suraj</p>
                <p>Dharm Raj</p>
                <p>Neetu</p>
                <p>Hr Maneger</p>
                <p>60000</p>
                <p>Khunshapur</p>
            </div>
                </div>
                <div class="Details-right">
                    <div class="name">
                        <p>Email id:</p>
                        <p>Gender<span>:</span></p>
                        <p>Phone Number<span>:</span></p>
                        <p>Addher Number<span>:</span></p>
                        <p>Pan Card<span>:</span></p>
                        <p>Working Experience<span>:</span></p>
                    </div>
                    <div class="names">
                        <p>dav@gmail.com</p>
                        <p>Male</p>
                        <p>6387002414</p>
                        <p>943451814523</p>
                        <p>MYSPS2115C</p>
                        <p>2 Year</p>
                    </div>
                </div>
            </div>
            <div class="document">
                <div class="documents-box">
                    <div class="pic"></div>
                    <div class="content">Addher</div>
                </div>
                <div class="documents-box">
                    <div class="pic"></div>
                    <div class="content">Pan Card</div>
                </div>
                <div class="documents-box">
                    <div class="pic"></div>
                    <div class="content">Experience Certificate</div>
                </div>
                <div class="documents-box">
                    <div class="pic"></div>
                    <div class="content">10th Marksheet</div>
                </div>
                <div class="documents-box">
                    <div class="pic"></div>
                    <div class="content">12 Marksheet</div>
                </div>
                <div class="documents-box">
                    <div class="pic"></div>
                    <div class="content">Degree/Certificate</div>
                </div>
                <div class="documents-box">
                    <div class="pic"></div>
                    <div class="content">Photo</div>
                </div>
                <div class="documents-box">
                    <div class="pic"></div>
                    <div class="content">Signature</div>
                </div>
            </div>
            <input type="submit" value="Update" class=" btn x"/>
              </div>
          
        
          </div>
          
        </div>
       
     
         </div>
     
    
    
    
    
















<!-- <div class="overflow">
    <div class="outer">
        <div class="card">
        Department
        <div class="Details">
            <div class="Details-left">
        <div class="name">
            <p>Name<span>:</span></p>
            <p>Father Name<span>:</span></p>
            <p>Mother Name<span>:</span></p>
            <p>Posion<span>:</span></p>
            <p>Salry<span>:</span></p>
            <p>Address<span>:</span></p>
        </div>
        <div class="names">
            <p>Suraj</p>
            <p>Dharm Raj</p>
            <p>Neetu</p>
            <p>Hr Maneger</p>
            <p>60000</p>
            <p>Khunshapur</p>
        </div>
            </div>
            <div class="Details-right">
                <div class="name">
                    <p>Email id:</p>
                    <p>Gender<span>:</span></p>
                    <p>Phone Number<span>:</span></p>
                    <p>Addher Number<span>:</span></p>
                    <p>Pan Card<span>:</span></p>
                    <p>Working Experience<span>:</span></p>
                </div>
                <div class="names">
                    <p>dav@gmail.com</p>
                    <p>Male</p>
                    <p>6387002414</p>
                    <p>943451814523</p>
                    <p>MYSPS2115C</p>
                    <p>2 Year</p>
                </div>
            </div>
        </div>
        <div class="document">
            <div class="documents-box">
                <div class="pic"></div>
                <div class="content">Addher</div>
            </div>
            <div class="documents-box">
                <div class="pic"></div>
                <div class="content">Pan Card</div>
            </div>
            <div class="documents-box">
                <div class="pic"></div>
                <div class="content">Experience Certificate</div>
            </div>
            <div class="documents-box">
                <div class="pic"></div>
                <div class="content">10th Marksheet</div>
            </div>
            <div class="documents-box">
                <div class="pic"></div>
                <div class="content">12 Marksheet</div>
            </div>
            <div class="documents-box">
                <div class="pic"></div>
                <div class="content">Degree/Certificate</div>
            </div>
            <div class="documents-box">
                <div class="pic"></div>
                <div class="content">Photo</div>
            </div>
            <div class="documents-box">
                <div class="pic"></div>
                <div class="content">Signature</div>
            </div>
        </div>
        <input type="submit" value="Update" class=" btn x"/>
    </div>
    </div>
    </div> -->