<div class="overflow">
 <!-- <section class="">

    <div class="row">
        <div class="col-md-4">
            <mat-card [routerLink]="['/add-table']">
                <div class="add_table">
                   
                    <div class="card_heading" > Add Table</div>
                </div>
                
            </mat-card>

        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/table-report']">
                <div class="table_report">
                    <div class="card_heading">Table Report</div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/book-table']">
                <div class="table_assign">
                    <div class="card_heading">Table Assign</div>
                </div>
            </mat-card>
        </div>
    </div>

</section>  -->
<div class="container-fluid">
    <div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card cards text-center py-2"[routerLink]="['/add-table']">
            <div class="card-body">
                <div class="hotel-card-icon">
                    <i class="fa-solid fa-id-card-clip"></i>
                </div>
            <p>Add Table</p>
           
            </div>
          </div> 
    </div>
    <div class="col-md-4 mb-3">
        <div class="card cards text-center py-2"[routerLink]="['/table-report']">
            <div class="card-body">
                <div class="hotel-card-icon">
                    <i class="fa-solid fa-print"></i>
                </div>
            <p>Table Report</p>
           
            </div>
          </div>  
    </div>
    <div class="col-md-4 mb-3">
        <div class="card cards text-center py-2" [routerLink]="['/book-table']">
            <div class="card-body">
                <div class="hotel-card-icon">
                    <i class="fa-solid fa-id-card-clip"></i>
                </div>
            <p>Table Assign</p>
           
            </div>
          </div> 
    </div>
    </div>
      
        
     
    </div>
</div>