<div class="overflow">
<section class="">

    <div class="row">
        <div class="col-md-4">
            <mat-card [routerLink]="['/add-table']">
                <div class="add_table">
                    <!-- <h3>heading</h3> -->
                    <div class="card_heading" > Add Table</div>
                </div>
                <!-- <h3>heading</h3> -->
            </mat-card>

        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/table-report']">
                <div class="table_report">
                    <div class="card_heading">Table Report</div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/book-table']">
                <div class="table_assign">
                    <div class="card_heading">Table Assign</div>
                </div>
            </mat-card>
        </div>
    </div>

</section>
</div>