<div class="overflow">
  <div  id="table" class="py-1">
      <div class="card details_section my-3 margin-x-card">
       
          <div class="card-body card-table">
            <div class="topbars">
              <div>
              <span class="table-text-size">Employee Details </span>
              </div>
              <div class="input-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search here..." />
              </div>
            </div>
            <hr/> 
            <div class="scroll-bottam">
              <table class="table table-bordered">
                <tr>
                  <th>S.N</th>
                  <th>Emp_Id</th>
                  <th>Emp_Name</th>
                  <th>Gender</th>
                  <th>Posion</th>
                  <th>Salary</th>
                  <th>Address</th>
                  <th>Employee Details</th>
              
                </tr>
                <tr>
                  <td>1</td>
                  <td>Ew-91324</td>
                  <td>suraj</td>
                  <td>Male</td>
                  <td>Hr Maneger</td>
                  <td>60000</td>
                  <td>Jaunpur,uttar pradesh</td>
                  <td><a class="a" [routerLink]="['/employee-detail']">Details</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Ew-91324</td>
                  <td>suraj</td>
                  <td>Male</td>
                  <td>Hr Maneger</td>
                  <td>60000</td>
                  <td>Jaunpur,uttar pradesh</td>
                  <td><a class="a" [routerLink]="['/employee-detail']">Details</a></td>
                  </tr>
              </table>
          </div>
          </div>
          
        </div>
       
     
         </div>
         </div>
    
    
    
  







<!-- 
<div  id="table">
  <div class="card">
   
      <div class="card-body card-table">
        <div class="topbarx">
        <span class="table-text-size">Employee Details </span>
        <div class="Search"><input type="text" placeholder="Search"/><i class="fa-solid fa-magnifying-glass"></i></div>
        
          </div>
        <hr/> 
        <div class="scroll-bottam">
    <table class="table table-bordered">
      <tr>
        <th>S.N</th>
        <th>Emp_Id</th>
        <th>Emp_Name</th>
        <th>Gender</th>
        <th>Posion</th>
        <th>Salary</th>
        <th>Address</th>
        <th>Employee Details</th>
    
      </tr>
      <tr>
        <td>1</td>
        <td>Ew-91324</td>
        <td>suraj</td>
        <td>Male</td>
        <td>Hr Maneger</td>
        <td>60000</td>
        <td>Jaunpur,uttar pradesh</td>
        <td><a class="a" [routerLink]="['/employee-detail']">Details</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Ew-91324</td>
        <td>suraj</td>
        <td>Male</td>
        <td>Hr Maneger</td>
        <td>60000</td>
        <td>Jaunpur,uttar pradesh</td>
        <td><a class="a" [routerLink]="['/employee-detail']">Details</a></td>
        </tr>
    </table>
      </div>
      </div>
      
    </div>
   </div> -->
 
    




