<div class="overflow">
  <div  id="table" class="pt-1">
    <div class="card details_section mt-4 margin-card">
     
        <div class="card-body card-table">
          <div class="topbars">
            <div>
          <span class="table-text-size">Booked Table </span>
          </div>
          <div class="search-bar-dropdown">
            <select class="select">
              <option>All</option>
              <option>booked</option>
              <option>Empty</option>
            </select>
            <div class="icon">
            <a href="" onclick="window.print"><i class="fa-solid fa-print"></i></a>
            <a href="" download><i class="fa-solid fa-arrow-down"></i></a>
            </div>
            </div>
            </div>
          <hr/> 
          <div class="scroll-bottam">
      <table class="table table-bordered ">
        <tr>
          <th>S.N</th>
          <th>Table Name</th>
          <th>Table Capacity</th>
          <th>Floor</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>1</td>
          <td>abc</td>
          <td>5</td>
          <td>second</td>
          <td>booked</td>
        </tr>
        <tr>
          <td>2</td>
          <td>xbc</td>
          <td>6</td>
          <td>second</td>
          <td>Empty</td>
        </tr>
      </table>
        </div>
        </div>
        
      </div>
     
   
       </div>
       </div>
  
  
  
  