<div class="overflow">
    <div  id="floor-master" class="py-4">
        <div class="card details_section margin-x-card">
         
            <div class="card-body card-form">
              <span class="text-size">Update card picture Booking-management <hr/></span>
          
              <form >
                <span class="seatting-text">Book Table</span>
                <input type="file" class="form-control seatting-file ">
                <span class="seatting-text">Booked Table </span>
                <input type="file" class="form-control seatting-file">
                <span class="seatting-text">Booking Report</span>
                <input type="file" class="form-control seatting-file mb-2">
                <input type="submit" value="Done"  class="btn x x-button" >
              </form>
            </div>
            
          </div>
         
       
           </div>
           </div>
    
    
    
    