<div class="overflow">
    <div  id="table" class="py-1">
        <div class="card details_section my-3 margin-x-card">
         
            <div class="card-body card-table">
              <div class="topbars">
                <div>
                <span class="table-text-size">Allow Product</span>
                </div>
                <div class="input-box">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <input type="text" placeholder="Search here..." />
                </div>
              </div>
              <hr/> 
              <div class="scroll-bottam">
          <table class="table table-bordered">
            <tr>
                <th>S.N</th>
                <th>Product Name</th>
                <th>Quntity</th>
                <th>Department</th>
                <th>Allow_Staff</th>
                <th>Receive</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
           </tr>
           <tr>
            <td>1</td>
            <td>Rice</td>
            <td>15kg</td>
            <td>Fodd and beverage</td>
            <td>Suraj Dev</td>
            <td>Drakan</td>
            <td>27/06/2024</td>
            <td>08:55am</td>
            <td>Edit||Delete</td>
        </tr>
          </table>
            </div>
            </div>
            
          </div>
         
       
           </div>
           </div>
      
      
      
    

