<div class="overflow">
    <div  id="table">
        <div class="card">
         
            <div class="card-body card-table">
              <span class="table-text-size ">Order Food</span>
              <div class="">
              <div class="topbars">
               <input type="text" placeholder="enter table name..." class="select-order"/>
               <select class="select-order">
                <option selected disabled>Select Category</option>
                <option>Pizza</option>
               </select>
               <select class="select-order">
                <option>All</option>
                <option>Vge</option>
                <option>Nonvge</option>
               </select>
              </div>
                </div>
              <hr/> 
              <h4 class="Category">Pizza</h4>
              <h4 class="Food_Type">Vge</h4>
             <div class="Order-item">
            
                <div class="food-item">
                    <p>Item</p> 
                    <input type="checkbox"> Cheese Pizza<br/>
                    <input type="checkbox"> Veggie Pizza<br/>
                    <input type="checkbox"> Pepperoni Pizza<br/>
                </div>
                <div class="haff-price">
                    <P>Haff</P>
                    <input type="checkbox"/> 69 Rs.<br/>
                    <input type="checkbox"/> 69 Rs.<br/>
                    <input type="checkbox"/> 69 Rs.<br/>
                </div>
                <div class="food-quntity">
                    <p>Quntity</p>
                    <input type="number" class="w"/><br/>
                    <input type="number" class="w"/><br/>
                    <input type="number" class="w"/><br/>
                </div>
                <div class="full-price">
                    <p>Full</p>
                    <input type="checkbox"/> 119 Rs.<br/>
                    <input type="checkbox"/> 119 Rs.<br/>
                    <input type="checkbox"/> 119 Rs.<br/>
                </div>
                <div class="food-quntity">
                    <p>Quntity</p>
                    <input type="number" class="w"/><br/>
                    <input type="number" class="w"/><br/>
                    <input type="number" class="w"/><br/>
                </div>
             </div>
             <br/><br/>
             <h4 class="Food_Type">Nonvge</h4>
             <div class="Order-item">
            
                <div class="food-item">
                    <p>Item</p> 
                    <input type="checkbox"> Chicken pizza<br/>
                    <input type="checkbox"> Chicken Fiesta<br/>
                    <input type="checkbox"> Korma Delight<br/>
                </div>
                <div class="haff-price">
                    <P>Haff</P>
                    <input type="checkbox"/> 179 Rs.<br/>
                    <input type="checkbox"/> 159 Rs.<br/>
                    <input type="checkbox"/> 199 Rs.<br/>
                </div>
                <div class="food-quntity">
                    <p>Quntity</p>
                    <input type="number" class="w"/><br/>
                    <input type="number" class="w"/><br/>
                    <input type="number" class="w"/><br/>
                </div>
                <div class="full-price">
                    <p>Full</p>
                    <input type="checkbox"/> 359 Rs.<br/>
                    <input type="checkbox"/> 315 Rs.<br/>
                    <input type="checkbox"/> 349 Rs.<br/>
                </div>
                <div class="food-quntity">
                    <p>Quntity</p>
                    <input type="number" class="w"/><br/>
                    <input type="number" class="w"/><br/>
                    <input type="number" class="w"/><br/>
                </div>
             </div>
             <div class="select-data"></div>
             <input type="submit" value="Done" class=" btn x"/>
            </div>
            
          </div>
         
       
           </div>
           </div>
      
      
      
    
    