<div class="overflow">
 <section class="">

    <div class="row">
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-add-product']">
                <div class="add_table">
                    <!-- <h3>heading</h3> -->
                    <div class="card_heading" >Add Product</div>
                </div>
                <!-- <h3>heading</h3> -->
            </mat-card>

        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-add-table']">
                <div class="table_report">
                    <div class="card_heading">Add Product Table</div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-allow-product']">
                <div class="table_assign">
                    <div class="card_heading">Allow Prodect</div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row mrow">
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-allow-table']">
                <div class="allow_table">
                    <!-- <h3>heading</h3> -->
                    <div class="card_heading" >Allow Product Table</div>
                </div>
                <!-- <h3>heading</h3> -->
            </mat-card>

        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-report']">
                <div class="table_report">
                    <div class="card_heading">Inventory Report</div>
                </div>
            </mat-card>
        </div>
    </div>



</section>
</div>