<div class="overflow">
 <!-- <section class="">

    <div class="row">
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-add-product']">
                <div class="add_table">
                   
                    <div class="card_heading" >Add Product</div>
                </div>
             
            </mat-card>

        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-add-table']">
                <div class="table_report">
                    <div class="card_heading">Add Product Table</div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-allow-product']">
                <div class="table_assign">
                    <div class="card_heading">Allow Prodect</div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row mrow">
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-allow-table']">
                <div class="allow_table">
                    
                    <div class="card_heading" >Allow Product Table</div>
                </div>
               
            </mat-card>

        </div>
        <div class="col-md-4">
            <mat-card [routerLink]="['/inventroy-report']">
                <div class="table_report">
                    <div class="card_heading">Inventory Report</div>
                </div>
            </mat-card>
        </div>
    </div>



</section> -->
<div class="container-fluid">
    <div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card cards text-center py-3" [routerLink]="['/inventroy-add-product']">
            <div class="card-body">
                <div class="hotel-card-icon">
                    <i class="fa-solid fa-id-card-clip"></i>
                </div>
            <p>Add Product</p>
           
            </div>
          </div> 
    </div>
    <div class="col-md-4 mb-3"> 
        <div class="card cards text-center py-3" [routerLink]="['/inventroy-add-table']">
            <div class="card-body">
                <div class="hotel-card-icon">
                    <i class="fa-solid fa-print"></i>
                </div>
            <p>Add Product Table</p>
           
            </div>
          </div>  
    </div>
    <div class="col-md-4 mb-3">
        <div class="card cards text-center py-3" [routerLink]="['/inventroy-allow-product']">
        <div class="card-body">
            <div class="hotel-card-icon">
                <i class="fa-solid fa-id-card-clip"></i>
            </div>
        <p>Allow Product</p>
       
        </div>
       
       
    </div>
    </div>
    
        <div class="row mt-2">
            <div class="col-md-4 mb-3"> 
                <div class="card cards text-center py-3" [routerLink]="['/inventroy-allow-table']">
                    <div class="card-body">
                        <div class="hotel-card-icon">
                            <i class="fa-solid fa-id-card-clip"></i>
                        </div>
                    <p>Allow Product Table</p>
                   
                    </div>
                  </div> 
           </div>
           <div class="col-md-4 mb-3"> 
            <div class="card cards text-center py-3" [routerLink]="['/inventroy-report']">
                <div class="card-body">
                    <div class="hotel-card-icon">
                        <i class="fa-solid fa-id-card-clip"></i>
                    </div>
                <p>Inventory Report </p>
               
                </div>
              </div> 
       </div>
     </div>
</div>

</div>