
 <div class="overflow">
  <div  id="table" class="pt-1">
      <div class="card details_section mt-3 margin-x-card">
          <div class="card-body card-table">

            <div class="topbars">
              <div>
               <span class="table-text-size">Attendance </span>
               </div>
               <div class="search-bar-dropdown">
               <input type="date" class="select"/>
               <select class="select">
                <option disabled selected>-- Dipartment--</option>
                <option>zzz</option>
                <option>yyy</option>
                <option>mmm</option>
                 </select>
                 
               </div>
                 </div>
            <hr/> 
            <div class="scroll-bottam">
              <table class="table table-bordered">
                <tr>
                  <th>S.N</th>
                  <th>Emp_Id</th>
                  <th>Emp_Name</th>
                  <th>Sift</th>
                  <th>Present/Absent</th>
                  <th>In/Out Time</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Jr321401</td>
                  <td>Suraj dev</td>
                  <td class="td"><select>
                    <option selected disabled>--Sift--</option>
                    <output>morning</output>
                    <option>Evening</option>
                    <option>Night</option>
                  </select></td>
                  <td class="td"><input type="text"/></td>
                  <td><a [routerLink]="['/in-out-time']">Time</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jr321402</td>
                    <td>Drakan</td>
                    <td class="td"><select>
                        <option disabledn selected>--Sift--</option>
                        <output>morning</output>
                        <option>Evening</option>
                        <option>Night</option>
                      </select></td>
                    <td class="td"><input type="text"/></td>
                    <td><a [routerLink]="['/in-out-time']">Time</a></td>
                  </tr>
              </table>
              <input type="submit" value="Done" class="btn x mt-2"/>
          </div>
          </div>
          
        </div>
       </div>
       </div>
     
        
    
    
    
  
  
