<div class="overflow">
  <div  id="table" class="py-1">
      <div class="card details_section my-3 margin-x-card">
       
          <div class="card-body card-table">
            <div class="topbars">
              <div>
              <span class="table-text-size">Menu Table</span>
              </div>
              <div class="input-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search here..." />
              </div>
            </div>
            <hr/> 
            <div class="scroll-bottam">
        <table class="table table-bordered">
          <tr>
            <th>S.N</th>
            <th>Food_Name</th>
            <th>Food Category</th>
            <th>Food_Type</th>
            <th>Full Price</th>
            <th>Haff Price </th>
            <th>Action</th>
          </tr>
          <tr>
            <td>1</td>
            <td>abc</td>
            <td>Pizza</td>
            <td>Vge</td>
            <td>69</td>
            <td>119</td>
            <td>Edit||Delete</td>
          </tr>
          <tr>
              <td>2</td>
              <td>abc</td>
              <td>Pizza</td>
              <td>Vge</td>
              <td>123</td>
              <td>215</td>
              <td>Edit||Delete</td>
            </tr>
        </table>
          </div>
          </div>
          
        </div>
       
     
         </div>
         </div>
    
    
    
  