<div class="overflow">
     <!-- <section class="">

        <div class="row">
            <div class="col-md-4">
                <mat-card [routerLink]="['/book-table']">
                    <div class="add_table">
                        
                        <div class="card_heading" >Book Table</div>
                    </div>
                   
                </mat-card>
    
            </div>
            <div class="col-md-4">
                <mat-card [routerLink]="['/booked-table']">
                    <div class="table_report">
                        <div class="card_heading">Booked Table</div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card [routerLink]="['/booking-report']">
                    <div class="table_assign">
                        <div class="card_heading">Booking Report</div>
                    </div>
                </mat-card>
            </div>
        </div>
    
    
    
    </section> -->
    <div class="container-fluid">
        <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="card cards text-center py-3" [routerLink]="['/book-table']">
                <div class="card-body">
                    <div class="hotel-card-icon">
                        <i class="fa-solid fa-id-card-clip"></i>
                    </div>
                <p>Book Table</p>
               
                </div>
              </div> 
        </div>
        <div class="col-md-4 mb-3">
            <div class="card cards text-center py-3" [routerLink]="['/booked-table']">
                <div class="card-body">
                    <div class="hotel-card-icon">
                        <i class="fa-solid fa-print"></i>
                    </div>
                <p>booked Table</p>
               
                </div>
              </div>  
        </div>
        <div class="col-md-4 mb-3">
            <div class="card cards text-center py-3"  [routerLink]="['/booking-report']">
                <div class="card-body">
                    <div class="hotel-card-icon">
                        <i class="fa-solid fa-id-card-clip"></i>
                    </div>
                <p>Booking Report</p>
               
                </div>
              </div>   
        </div>
        </div>
    </div>
        
    
    