<html>
    <head>
       
    </head>
    <body>
        <form>
            <div id="form">
                <h3>Login <i class="fa-solid fa-key icon-color"></i></h3>
                <div class="input-group mb-3">
                    <i class="input-group-text">
                        <i class="fa-solid fa-user icon-color"></i>
                    </i>
                    <input type="text"name="number" required class="form-control"placeholder=" username...">
                </div>   
                <div class="input-group mb-3">
                    <i class="input-group-text">
                        <i class="fa-solid fa-key icon-color"></i>
                    </i>
                    <input type="password"name="number" required class="form-control"placeholder=" password...">
                </div>
                <input  type="submit" value="Login" class="form-control btan" [routerLink]="['/dashboard']"/>
             
            </div>
        </form>
   
    </body>
</html>



