<div class="overflow">
     <section class="">

        <div class="row">
            <div class="col-md-4">
                <mat-card [routerLink]="['/add-menu']">
                    <div class="add_table">
                        <!-- <h3>heading</h3> -->
                        <div class="card_heading" > Add Menu</div>
                    </div>
                    <!-- <h3>heading</h3> -->
                </mat-card>
    
            </div>
            <div class="col-md-4">
                <mat-card [routerLink]="['/menu-table']">
                    <div class="table_report">
                        <div class="card_heading">Menu Table</div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card [routerLink]="['/order-food']">
                    <div class="food_order">
                        <!-- <h3>heading</h3> -->
                        <div class="card_heading" >Order Food</div>
                    </div>
                    <!-- <h3>heading</h3> -->
                </mat-card>
    
            </div>
        </div>
        <div class="row mrow">
         
            <div class="col-md-4">
                <mat-card [routerLink]="['/order-food-report']">
                    <div class="table_assign">
                        <div class="card_heading">Order Food Report</div>
                    </div>
                </mat-card>
            </div>
        </div>
    
    
    
    </section>
    </div>