.nav_heading{
   line-height: 75px !important;
   //  background-color: teal;
    height: 60px !important;
    text-transform: capitalize;
    font-size: 25px;
   //  color: var(--heading);
   color: gray;
}