
       <section class="">

        <div class="row">
            <div class="col-md-4">
                <mat-card [routerLink]="['/department-Front-Office']">
                    <div class="add_table">
                        <!-- <h3>heading</h3> -->
                        <div class="card_heading" >Front Office Department</div>
                    </div>
                    <!-- <h3>heading</h3> -->
                </mat-card>
    
            </div>
            <div class="col-md-4">
                <mat-card [routerLink]="['/housekeeping-department']">
                    <div class="table_report">
                        <div class="card_heading">Housekeeping Department</div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card [routerLink]="['/security-department']">
                    <div class="table_assign">
                        <div class="card_heading">Security and Maintenance Department</div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row mrow">
           
            <div class="col-md-4">
                <mat-card [routerLink]="['/food-and-beverage']">
                    <div class="attendance">
                        <div class="card_heading">Food and Beverage Department</div>
                    </div>
                </mat-card>
            </div>
        </div>
    
    
    </section>