<div class="overflow">
     <section class="">

        <div class="row">
            <div class="col-md-4">
                <mat-card [routerLink]="['/registration-personal-information']">
                    <div class="add_table">
                        <!-- <h3>heading</h3> -->
                        <div class="card_heading" >Registration</div>
                    </div>
                    <!-- <h3>heading</h3> -->
                </mat-card>
    
            </div>
            <div class="col-md-4">
                <mat-card [routerLink]="['/department']">
                    <div class="table_report">
                        <div class="card_heading">Department</div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card [routerLink]="['/attendance']">
                    <div class="attendance">
                        <!-- <h3>heading</h3> -->
                        <div class="card_heading" > Attendance</div>
                    </div>
                    <!-- <h3>heading</h3> -->
                </mat-card>
    
            </div>
        </div>
        <div class="row mrow">
           
            <div class="col-md-4">
                <mat-card [routerLink]="['/attendance-report']">
                    <div class="table_assign">
                        <div class="card_heading">Attendance Report</div>
                    </div>
                </mat-card>
            </div>
        </div>
    
    
    
    </section>
    </div>