
<div class="overflow">
<section class="px-3">
 
    <div class="row">
      <div class="col-md-3">
        <mat-card class="d-card d_card_1">
          <div class="icon">
            <mat-icon>graphic_eq</mat-icon>
            <div class="card_heading">Total Sales</div>
          </div>
          <div class="card_detail">
            <span>&#8377;</span>
            2232344
          </div>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="d-card">
          <div class="icon">
            <mat-icon>graphic_eq</mat-icon>
            <div class="card_heading">Month Sales</div>
          </div>
          <div class="card_detail">
            <span>&#8377;</span>
            2232344
          </div>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="d-card">
          <div class="icon">
            <mat-icon>graphic_eq</mat-icon>
            <div class="card_heading">Total Staff</div>
          </div>
          <div class="card_detail">
            <span>&#8377;</span>
            2232344
          </div>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="d-card">
          <div class="icon">
            <mat-icon>graphic_eq</mat-icon>
            <div class="card_heading">heading</div>
          </div>
          <div class="card_detail">
            <span>&#8377;</span>
            2232344
          </div>
        </mat-card>
      </div>
    
  </div>
  <div class="my-2">
    <div class="row">
      <div class="col-md-7 d_graph">
        <div class="graph">
          <div
            style="
              position: absolute;
              top: 10px;
              padding: 0px 0px;
              font-size: 30px;
              text-transform: capitalize;
              font-weight: 500;
              color: gray;
            "
          >
            <h3>Monthaly sales</h3>
          </div>

          <canvas
            class="bar_graph"
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>
        </div>
      </div>
      <div class="col-md-5 d_graph">
            <div class="graph">
            <div
            style="
              position: absolute;
              top: 10px;
              padding: 0px 0px;
              font-size: 30px;
              text-transform: capitalize;
              font-weight: 500;
              color: gray;
            "
          >
            <h3>Sales</h3>
          </div>

          <canvas
            baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</section>
</div>